.app {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all-products {
    align-items: center;
    margin: auto;
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;	
}

.product-container {
    align-items: center;
    background-color: rgb(171, 253, 182);
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    margin: 1em .5em;
    padding: .5em;
}

img {
    height: 200px;
    width: 100%;
    border: 1px solid #ffffff;
    background-color: rgb(228, 255, 233);
}

h2 {
    font-size: 22px;
    line-height:  0;
}

p {
    font-size: 18px;
    line-height:  0;
}

button {
    margin: 20px 0;
    width: 200px;
    height: 50px;
    font-size: 16px;
}

@media screen and (max-width: 1024px) {
    .all-products {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 640px) {
    .all-products {
        grid-template-columns: 1fr 1fr ;
    }
}

