.app {
    width: 100vw;
}
.all-products {
    align-items: center;
    margin: auto;
    width: 95vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;	
}

.product-container {
    align-items: center;
    background-color: lightblue;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    margin: 1em .5em;
    padding: .5em;
}

img {
    height: 200px;
    width: 100%;
    border: 1px solid #ffffff;
    background-color: lightcyan;
}

h2 {
    font-size: 22px;
    line-height:  0;
}

p {
    font-size: 18px;
    line-height:  0;
}
 
@media (max-width: 1024px) {
    .all-products {
        grid-template-columns: 1fr 1fr 1fr;	
    }
}

@media (max-width: 640px) {
    .all-products {
        grid-template-columns: 1fr 1fr ;	
    }
}

